
*{
padding: 0;
margin: 0;
}


body {

    background-color: rgb(247, 247, 247);
}

a,
li {
    text-decoration: none;
    list-style: none;

}

.header {
    background-color:  #DFDFDE;
    height: 65px;
    display: flex;
    padding-left: 160px;
   
    align-items: center;

    .nav-menu {

        display: flex;
        gap: 30px;
        align-items: center;

    }

    .nav-menu li a {
         font-weight: bold;
        font-size: 14px;
        color: #006437;
        font-family: sans-serif;
    }
    .img-logo{

        width: 65px;
        height: 65px;
    }
   
}

.member{
    width: 200px;
    padding: 50px;
    margin: 10px;
    text-align: center;
    transition: all 0.5s;
}


main {
    display: flex;
    flex-wrap: wrap;
<<<<<<< HEAD
    padding: 100px;
=======
    padding: 50px;
>>>>>>> 4a2a21782a5c0c2771d6e0bf6c0be84610e7721a
    justify-content: center;
}

.member h3 {
<<<<<<< HEAD
    font-family: sans-serif;
    margin: 0;
    color: var(--branco-principal);
    color: #006437;
}
.member ul li a {
    color: #006437;
    text-decoration: none;
    padding: 5px;
    font-family: sans-serif;
}

.member img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.member:hover {
    transform: scale(1.3);
    transition: all 0.4s;
    z-index: 10;
}

.member ul li a:hover {
    background-color: #74B49B;
    color: #202020;
=======
    font-family: var(--fonte-primaria);
    margin: 0;
    color: var(--branco-principal);
}
.member ul li a {
    font-family: var(--fonte-primaria);
    color: var(--branco-principal);
    text-decoration: none;
    padding: 5px;
>>>>>>> 4a2a21782a5c0c2771d6e0bf6c0be84610e7721a
}


.footer{
<<<<<<< HEAD
   text-align: center;
   padding: 200px;
   color: #006437;
   font-family: sans-serif;
=======
    display: flex;
    justify-content: center;
>>>>>>> 4a2a21782a5c0c2771d6e0bf6c0be84610e7721a
}